<ion-view view-title="注册">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="goLogin()">登录</button>
        </div>
        <h1 class="title">注册</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">用户名</span>
                <input type="text" placeholder="用户名" ng-model="user.username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">密码</span>
                <input type="text" placeholder="密码" ng-model="user.password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">昵称</span>
                <input type="text" placeholder="昵称" ng-model="user.nickname">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="register(user)">
                确定
            </button>
        </div>
    </ion-content>
</ion-view>