<ion-view view-title="联系人">
    <!--<ion-header-bar align-title="center" class="bar-positive">-->
    <!--<h1 class="title">我的朋友</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div class="list">
            <a class="item item-avatar-left" ui-sref="tab.contact-chat" ng-repeat="meet in contacts">
                <img ng-src="{{meet.createrPic}}">
                <h2>{{meet.displayName}}</h2>
                <p>{{meet.latestWord}} -发生于:{{meet.latestWordTime}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>